<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/logo facebook.png" id="facebook" srcset=""></a>
                <a href=""><img src="../../../assets/logo instagram.png" id="instagram" srcset=""></a>
                <a href=""><img src="../../../assets/logo link.png" id="linkedin" srcset=""></a>
                <a href=""><img src="../../../assets/whatsapp-logo.png" id="whatsapp" srcset=""></a>
                <button type="button" class="btn btn-outline-ligth" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-ligth" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
            </div>
        </div>
    </div>
</div>