<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <h1>Encript</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, error impedit architecto illo explicabo et repellendus mollitia dignissimos accusamus nesciunt quo maiores perspiciatis quod, corporis magnam. Ipsa obcaecati incidunt est!</p>
        </div>
        <div>
            <img src="" alt="" class="img-fluid">
            
        </div>
    </div>
</div>
